# Java
*.class

# Maven
target/

# VS Code
.vscode/

# IntelliJ
.idea/
*.iml

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Environment / secrets
.env

# Local configuration
application-local.properties
backend/src/main/resources/application.properties